<footer class="container py-3 small">
  <div class="row text-center text-md-start">
    <div class="col-6 col-md-3 mb-2 text-center">Spring 2025</div>
    <div class="col-6 col-md-3 mb-2 text-center">CISS-298 Team Project</div>
    <div class="col-6 col-md-3 mb-2 text-center">
      <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener">GNU GPLv3</a>
    </div>
    <div class="col-6 col-md-3 mb-2 text-center">
      <a href="https://github.com/brendenhoffman/ciss298-TeamProject" target="_blank" rel="noopener">Source Code</a>
    </div>
  </div>
</footer>

