<footer class="container py-3 small">
  <div class="row text-center text-md-start align-items-center">

    <div class="col-12 col-md-4 mb-2 text-center text-md-start">
      <strong>Hotel Mirage</strong><br>
      <span>(555) 123-4567</span>
    </div>

    <div class="col-12 col-md-4 mb-2 text-center">
      <img src="assets/tripadvisor.png" alt="TripAdvisor" width="24" height="24" class="mx-1">
      <img src="assets/booking.png" alt="Booking.com" width="24" height="24" class="mx-1">
      <img src="assets/bluesky.png" alt="BlueSky" width="24" height="24" class="mx-1">
    </div>

    <div class="col-12 col-md-4 mb-2 text-center text-md-end">
      <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener">GNU GPLv3</a> |
      <a href="https://github.com/brendenhoffman/ciss298-TeamProject" target="_blank" rel="noopener">Source Code</a>
    </div>

  </div>
</footer>

